.educationSidebarItem {
    @apply flex items-center justify-between cursor-pointer transition-all duration-300 px-4 py-[18px] rounded-xl;

    &:hover {
        @apply bg-[#121417];

        .educationSidebarItemText {
            @apply text-[#F9FBFF] font-semibold;
        }

        svg {
            path {
                fill: #F9FBFF;
            }
        }
    }

    &.active {
        @apply bg-[#121417] text-[#F9FBFF];

        svg {
            path {
                fill: #F9FBFF;
            }
        }
    }

    .educationSidebarItemText {
        color: rgb(var(--education-sidebar-text));
    }
}