.container {
    width: 100%;
    @apply h-64;
    position: relative;
    box-shadow: 0px 25px 50px -12px rgba(0, 0, 0, 0.25);
    border-radius: 12px;
    background-color: #1a1d23;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 24px;
    box-sizing: border-box;
    gap: 4px;
    text-align: left;
    font-size: 16px;
    color: #fff;
    overflow-x: hidden;
    font-family: Inter;
}

.indicatorbars {
    width: 100%;
    height: 65px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 8px;
}

.text {
    display: flex;
    align-items: center;
    justify-content: center;
}

.trend {
    position: relative;
    letter-spacing: -0.18px;
    line-height: 24px;
}

.container2 {
    align-self: stretch;
    flex: 1;
    display: flex;
    align-items: flex-end;
    gap: 1px;
}

.container3 {
    height: 10.8px;
    flex: 1;
    position: relative;
    border-radius: 1px 1px 0px 0px;
    background-color: #2fff7e;
    opacity: 0.3;
}

.container4 {
    height: 18.7px;
    flex: 1;
    position: relative;
    border-radius: 1px 1px 0px 0px;
    background-color: #2fff7e;
    opacity: 0.33;
}

.container5 {
    height: 14.5px;
    flex: 1;
    position: relative;
    border-radius: 1px 1px 0px 0px;
    background-color: #2fff7e;
    opacity: 0.36;
}

.container6 {
    height: 10.1px;
    flex: 1;
    position: relative;
    border-radius: 1px 1px 0px 0px;
    background-color: #2fff7e;
    opacity: 0.4;
}

.container7 {
    height: 10.5px;
    flex: 1;
    position: relative;
    border-radius: 1px 1px 0px 0px;
    background-color: #2fff7e;
    opacity: 0.43;
}

.container8 {
    height: 12px;
    flex: 1;
    position: relative;
    border-radius: 1px 1px 0px 0px;
    background-color: #2fff7e;
    opacity: 0.46;
}

.container9 {
    height: 19px;
    flex: 1;
    position: relative;
    border-radius: 1px 1px 0px 0px;
    background-color: #2fff7e;
    opacity: 0.49;
}

.container10 {
    height: 14.3px;
    flex: 1;
    position: relative;
    border-radius: 1px 1px 0px 0px;
    background-color: #2fff7e;
    opacity: 0.52;
}

.container11 {
    height: 13.4px;
    flex: 1;
    position: relative;
    border-radius: 1px 1px 0px 0px;
    background-color: #2fff7e;
    opacity: 0.55;
}

.container12 {
    height: 17.2px;
    flex: 1;
    position: relative;
    border-radius: 1px 1px 0px 0px;
    background-color: #fdff00;
    opacity: 0.59;
}

.container13 {
    height: 21.1px;
    flex: 1;
    position: relative;
    border-radius: 1px 1px 0px 0px;
    background-color: #fdff00;
    opacity: 0.62;
}

.container14 {
    height: 10.9px;
    flex: 1;
    position: relative;
    border-radius: 1px 1px 0px 0px;
    background-color: #fdff00;
    opacity: 0.65;
}

.container15 {
    height: 21.6px;
    flex: 1;
    position: relative;
    border-radius: 1px 1px 0px 0px;
    background-color: #fdff00;
    opacity: 0.68;
}

.container16 {
    height: 10.9px;
    flex: 1;
    position: relative;
    border-radius: 1px 1px 0px 0px;
    background-color: #fdff00;
    opacity: 0.71;
}

.container17 {
    height: 9.6px;
    flex: 1;
    position: relative;
    border-radius: 1px 1px 0px 0px;
    background-color: #fdff00;
    opacity: 0.75;
}

.container18 {
    height: 22.2px;
    flex: 1;
    position: relative;
    border-radius: 1px 1px 0px 0px;
    background-color: #fdff00;
    opacity: 0.78;
}

.container19 {
    height: 9.8px;
    flex: 1;
    position: relative;
    border-radius: 1px 1px 0px 0px;
    background-color: #991b1b;
    opacity: 0.81;
}

.container20 {
    height: 20.6px;
    flex: 1;
    position: relative;
    border-radius: 1px 1px 0px 0px;
    background-color: #991b1b;
    opacity: 0.84;
}

.container21 {
    height: 21.5px;
    flex: 1;
    position: relative;
    border-radius: 1px 1px 0px 0px;
    background-color: #991b1b;
    opacity: 0.87;
}

.container22 {
    height: 17.6px;
    flex: 1;
    position: relative;
    border-radius: 1px 1px 0px 0px;
    background-color: #991b1b;
    opacity: 0.9;
}

.container23 {
    height: 23.3px;
    flex: 1;
    position: relative;
    border-radius: 1px 1px 0px 0px;
    background-color: #991b1b;
    opacity: 0.94;
}

.container24 {
    height: 12.8px;
    flex: 1;
    position: relative;
    border-radius: 1px 1px 0px 0px;
    background-color: #991b1b;
    opacity: 0.97;
}

.indicatorbars2 {
    width: 100%;
    height: 65px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 8px;
}

.container26 {
    height: 20.5px;
    flex: 1;
    position: relative;
    border-radius: 1px 1px 0px 0px;
    background-color: #2fff7e;
    opacity: 0.3;
}

.container27 {
    height: 20.1px;
    flex: 1;
    position: relative;
    border-radius: 1px 1px 0px 0px;
    background-color: #2fff7e;
    opacity: 0.33;
}

.container28 {
    height: 15.6px;
    flex: 1;
    position: relative;
    border-radius: 1px 1px 0px 0px;
    background-color: #2fff7e;
    opacity: 0.36;
}

.container29 {
    height: 23.1px;
    flex: 1;
    position: relative;
    border-radius: 1px 1px 0px 0px;
    background-color: #2fff7e;
    opacity: 0.4;
}

.container30 {
    height: 23.1px;
    flex: 1;
    position: relative;
    border-radius: 1px 1px 0px 0px;
    background-color: #2fff7e;
    opacity: 0.43;
}

.container31 {
    height: 16.1px;
    flex: 1;
    position: relative;
    border-radius: 1px 1px 0px 0px;
    background-color: #2fff7e;
    opacity: 0.46;
}

.container32 {
    height: 18.1px;
    flex: 1;
    position: relative;
    border-radius: 1px 1px 0px 0px;
    background-color: #2fff7e;
    opacity: 0.49;
}

.container33 {
    height: 11.5px;
    flex: 1;
    position: relative;
    border-radius: 1px 1px 0px 0px;
    background-color: #2fff7e;
    opacity: 0.52;
}

.container34 {
    height: 22.5px;
    flex: 1;
    position: relative;
    border-radius: 1px 1px 0px 0px;
    background-color: #2fff7e;
    opacity: 0.55;
}

.container35 {
    height: 23.9px;
    flex: 1;
    position: relative;
    border-radius: 1px 1px 0px 0px;
    background-color: #fdff00;
    opacity: 0.59;
}

.container36 {
    height: 16.4px;
    flex: 1;
    position: relative;
    border-radius: 1px 1px 0px 0px;
    background-color: #fdff00;
    opacity: 0.62;
}

.container37 {
    height: 21px;
    flex: 1;
    position: relative;
    border-radius: 1px 1px 0px 0px;
    background-color: #fdff00;
    opacity: 0.65;
}

.container38 {
    height: 12.4px;
    flex: 1;
    position: relative;
    border-radius: 1px 1px 0px 0px;
    background-color: #fdff00;
    opacity: 0.68;
}

.container39 {
    height: 14.5px;
    flex: 1;
    position: relative;
    border-radius: 1px 1px 0px 0px;
    background-color: #fdff00;
    opacity: 0.71;
}

.container40 {
    height: 19.7px;
    flex: 1;
    position: relative;
    border-radius: 1px 1px 0px 0px;
    background-color: #fdff00;
    opacity: 0.75;
}

.container41 {
    height: 18.5px;
    flex: 1;
    position: relative;
    border-radius: 1px 1px 0px 0px;
    background-color: #fdff00;
    opacity: 0.78;
}

.container42 {
    height: 23.3px;
    flex: 1;
    position: relative;
    border-radius: 1px 1px 0px 0px;
    background-color: #991b1b;
    opacity: 0.81;
}

.container43 {
    height: 13.3px;
    flex: 1;
    position: relative;
    border-radius: 1px 1px 0px 0px;
    background-color: #991b1b;
    opacity: 0.84;
}

.container44 {
    height: 15.3px;
    flex: 1;
    position: relative;
    border-radius: 1px 1px 0px 0px;
    background-color: #991b1b;
    opacity: 0.87;
}

.container45 {
    height: 22.1px;
    flex: 1;
    position: relative;
    border-radius: 1px 1px 0px 0px;
    background-color: #991b1b;
    opacity: 0.9;
}

.container46 {
    height: 17.4px;
    flex: 1;
    position: relative;
    border-radius: 1px 1px 0px 0px;
    background-color: #991b1b;
    opacity: 0.94;
}

.container47 {
    height: 17.3px;
    flex: 1;
    position: relative;
    border-radius: 1px 1px 0px 0px;
    background-color: #991b1b;
    opacity: 0.97;
}

.indicatorbars3 {
    width: 100%;
    height: 65px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 4px;
}

.container49 {
    height: 21px;
    flex: 1;
    position: relative;
    border-radius: 1px 1px 0px 0px;
    background-color: #2fff7e;
    opacity: 0.3;
}

.container50 {
    height: 13.4px;
    flex: 1;
    position: relative;
    border-radius: 1px 1px 0px 0px;
    background-color: #2fff7e;
    opacity: 0.33;
}

.container51 {
    height: 21.7px;
    flex: 1;
    position: relative;
    border-radius: 1px 1px 0px 0px;
    background-color: #2fff7e;
    opacity: 0.36;
}

.container53 {
    height: 22.5px;
    flex: 1;
    position: relative;
    border-radius: 1px 1px 0px 0px;
    background-color: #2fff7e;
    opacity: 0.43;
}

.container54 {
    height: 12.4px;
    flex: 1;
    position: relative;
    border-radius: 1px 1px 0px 0px;
    background-color: #2fff7e;
    opacity: 0.46;
}

.container55 {
    height: 19.8px;
    flex: 1;
    position: relative;
    border-radius: 1px 1px 0px 0px;
    background-color: #2fff7e;
    opacity: 0.49;
}

.container56 {
    height: 11px;
    flex: 1;
    position: relative;
    border-radius: 1px 1px 0px 0px;
    background-color: #2fff7e;
    opacity: 0.52;
}

.container57 {
    height: 23.8px;
    flex: 1;
    position: relative;
    border-radius: 1px 1px 0px 0px;
    background-color: #2fff7e;
    opacity: 0.55;
}

.container58 {
    height: 15.5px;
    flex: 1;
    position: relative;
    border-radius: 1px 1px 0px 0px;
    background-color: #fdff00;
    opacity: 0.59;
}

.container59 {
    height: 19.4px;
    flex: 1;
    position: relative;
    border-radius: 1px 1px 0px 0px;
    background-color: #fdff00;
    opacity: 0.62;
}

.container60 {
    height: 13.9px;
    flex: 1;
    position: relative;
    border-radius: 1px 1px 0px 0px;
    background-color: #fdff00;
    opacity: 0.65;
}

.container61 {
    height: 16.8px;
    flex: 1;
    position: relative;
    border-radius: 1px 1px 0px 0px;
    background-color: #fdff00;
    opacity: 0.68;
}

.container62 {
    height: 10.7px;
    flex: 1;
    position: relative;
    border-radius: 1px 1px 0px 0px;
    background-color: #fdff00;
    opacity: 0.71;
}

.container63 {
    height: 17.8px;
    flex: 1;
    position: relative;
    border-radius: 1px 1px 0px 0px;
    background-color: #fdff00;
    opacity: 0.75;
}

.container64 {
    height: 17.9px;
    flex: 1;
    position: relative;
    border-radius: 1px 1px 0px 0px;
    background-color: #fdff00;
    opacity: 0.78;
}

.container65 {
    height: 14.2px;
    flex: 1;
    position: relative;
    border-radius: 1px 1px 0px 0px;
    background-color: #991b1b;
    opacity: 0.81;
}

.container66 {
    height: 18.3px;
    flex: 1;
    position: relative;
    border-radius: 1px 1px 0px 0px;
    background-color: #991b1b;
    opacity: 0.84;
}

.container67 {
    height: 18.5px;
    flex: 1;
    position: relative;
    border-radius: 1px 1px 0px 0px;
    background-color: #991b1b;
    opacity: 0.87;
}

.container68 {
    height: 19.9px;
    flex: 1;
    position: relative;
    border-radius: 1px 1px 0px 0px;
    background-color: #991b1b;
    opacity: 0.9;
}

.container69 {
    height: 20.5px;
    flex: 1;
    position: relative;
    border-radius: 1px 1px 0px 0px;
    background-color: #991b1b;
    opacity: 0.94;
}

.container70 {
    height: 20.7px;
    flex: 1;
    position: relative;
    border-radius: 1px 1px 0px 0px;
    background-color: #991b1b;
    opacity: 0.97;
}