.dropdown {
    &__btn {
        color: rgb(var(--foreground));
        background-color: rgb(var(--dark-grey));
        border-radius: 16px;
        padding: 12px 20px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        cursor: pointer;
        transition: opacity 0.2s;

        &:hover {
            opacity: 0.92;
        }

        .dropdown__label {
            font-size: 18px;
            font-weight: 500;
        }
    }

    &__menu {
        display: none;
        margin-top: 4px;
        list-style: none;
        width: 100%;
        padding: 8px 0;
        background-color: transparent;
        z-index: 10;

        .dropdown__menuItem {
            color: rgb(var(--foreground));
            font-size: 16px;
            padding: 8px 24px;
            cursor: pointer;
            transition: opacity 0.2s;

            &:hover {
                opacity: 0.85;
            }
        }

        &--isOpen {
            display: block;
        }
    }
}